<div>
  <% if(users[user_id]){ %>
  <form action="/logout" method="POST">
    <dev class="font-italic"><%=users[user_id].email %>
      <button>Log Out</button>
    </dev>
  </form>
  <% } else {%>
  <div>
    <form action="/headToRegister" method="POST">
      <button>Register</button>
    </form>
    <form action="/headTologin" method="POST">
      <button>Log in</button>
    </form>
  </div>
  <% } %>
</div>
