<div>
  <% if(user){ %>
  <form action="/logout" method="POST">
    <div><%=user.email %>
      <button>Log Out</button>
    </div>
  </form>
  <% } else {%>
    <form action='/register' method="GET">
      <button style="float: left">Register</button>
    </form>
    <form action="/login" method="GET">
      <button>Log in</button>
    </form>
  <% } %>
  <hr>
</div>
