<!DOCTYPE html>
<html lang="en">
<head>
</head>
<header>
</header>
<body>
    <% for(var url in urls) { %>
       <p><%= url %>: <%= urls[url]%></p>
       <a href="/urls/<%=url%>/">Edit</a>
       <form action="/urls/<%= url %>/delete" method="POST";"><button>Delete</button>
       </form>
    <% } %>
</body>
</html>



