<!DOCTYPE html>
<head>
</head>
<header>
  <% include ./partials/_header %>
</header>
<body>
    <label for="longURL">Enter a URL:</label>
    <span>https://</span>
    <form action="/urls" method="POST">
      <input type="text" aria-describedby="basic-addon3" id="longURL" name="longURL" placeholder="example.com" style="width: 300px">
      <button>Submit</button>
    </form>
  </div>
</body>