<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
</head>
<header>
  <% include ./partials/_header %>
</header>
<body style="font-family: Sans-serif;">
  <div>
      <h3>Welcome Back!</h3>
      <form action="/login" method="POST">
        <div class="form-group">
         <label for="user" style="float: left; margin-right: 45px">Email:</label>
         <p><input type="email" id ="user" name="email" placeholder="example@email.com"></p>
       </div>
       <label for="passwrd" style="float: left; margin-right: 15px">Password: </label>
       <p><input type="password" id="passwrd" name="password" placeholder="******"></p>
       <input type="submit" value="Log in">
     </form>
  </div>
</body>
</html>