<!DOCTYPE html>
<html lang="en">
<head>
</head>
<header>
  <% include ./partials/_header %>
</header>
<body>
    <!-- Add your EJS code here -->
    <h1>ShortURL: <strong><%=shortURL%></strong></h1>
    <form action="/urls/<%= shortURL %>/update" method="POST">
      <input id="longURL" type="text" name="longURL" placeholder=<%=longURL%> style="width: 300px">
      <input type="submit" value="Update">
  </form>
</body>
</html>