<!DOCTYPE html>
<html lang="en">
<head>
</head>
<header>
  <% include ./partials/_header %>
</header>
<body>
  <div style='padding: 15px; font-family: Sans-serif;'>
    <label for="longURL">Enter a URL:</label>
    <form action="/urls" method="POST">
      <input type="text" id="longURL" name="longURL" placeholder="http://example.com" style="width: 300px;">
      <button>Submit</button>
    </form>
  </div>
</body>